[submodule ".docs/themes/hugo-book"]
	path = .docs/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "Scripts/5987f6b5357c3c91603fa07f215dfeab"]
	path = Scripts/CompilationLogWindow
	url = https://gist.github.com/anatawa12/5987f6b5357c3c91603fa07f215dfeab.git
[submodule "Scripts/257fbbebd9b7dab8bf39c0c710a2bfc7"]
	path = Scripts/CompileLogger
	url = https://gist.github.com/anatawa12/257fbbebd9b7dab8bf39c0c710a2bfc7.git
[submodule "Scripts/def5f8a29179ecbcb45502fa3b4590ce"]
	path = Scripts/CreateAssemblyDefinitionForUdonSharp
	url = https://gist.github.com/anatawa12/def5f8a29179ecbcb45502fa3b4590ce.git
[submodule "Scripts/e825ec4ee39ae29b64fdcc2f3f07a58c"]
	path = Scripts/MapGameObjects
	url = https://gist.github.com/anatawa12/e825ec4ee39ae29b64fdcc2f3f07a58c.git
[submodule "Scripts/4476430cfcc2ccef4bc40341d20001cf"]
	path = Scripts/FakeDynamicBoneComponents
	url = https://gist.github.com/anatawa12/4476430cfcc2ccef4bc40341d20001cf.git
[submodule "Scripts/a4bb4e2e5d75b4fa5ba42e236aae564d"]
	path = Scripts/ActualPerformanceWindow
	url = https://gist.github.com/anatawa12/a4bb4e2e5d75b4fa5ba42e236aae564d.git
[submodule "Scripts/379c4d828c2a0add4d623f8668209cbc"]
	path = Scripts/PhysBoneEditorUtilities
	url = https://gist.github.com/anatawa12/379c4d828c2a0add4d623f8668209cbc.git
[submodule "Scripts/4c900d5c15050fb5bdc0f9d027962183"]
	path = Scripts/GenerateMeshWithBackFace
	url = https://gist.github.com/anatawa12/4c900d5c15050fb5bdc0f9d027962183.git
[submodule "Scripts/b8799da5d3131e4020f414439a4ea037"]
	path = Scripts/TransferTransformWindow
	url = https://gist.github.com/anatawa12/b8799da5d3131e4020f414439a4ea037.git
[submodule "Scripts/581b66619711eaf5ebacbd85369d62e6"]
	path = Scripts/SetRandomBlueprintId
	url = https://gist.github.com/anatawa12/581b66619711eaf5ebacbd85369d62e6.git
[submodule "Scripts/5f847a1692fb30c2c9f00a47d50243ad"]
	path = Scripts/AndroidOnlyCheck
	url = https://gist.github.com/anatawa12/5f847a1692fb30c2c9f00a47d50243ad.git
[submodule "Scripts/f7476d2d727bc43d86121f6a3337d2c3"]
	path = Scripts/MergeAnimationClip
	url = https://gist.github.com/anatawa12/f7476d2d727bc43d86121f6a3337d2c3.git
[submodule "Scripts/8375f82dbc751086a32fcd2c626fa09b"]
	path = Scripts/HumanoidInfoWindow
	url = https://gist.github.com/anatawa12/8375f82dbc751086a32fcd2c626fa09b
[submodule "Scripts/875d0776305b771ba7ee74c656f082f6"]
	path = Scripts/EditorScreenshotTakeTool
	url = https://gist.github.com/anatawa12/875d0776305b771ba7ee74c656f082f6.git
[submodule "Scripts/94d6fd4272025fd26962476100a20ff0"]
	path = Scripts/SelectSkinnedMeshBones
	url = https://gist.github.com/anatawa12/94d6fd4272025fd26962476100a20ff0.git
[submodule "Scripts/ae5f7b3c5e07150ddc1eb9f0948019ff"]
	path = Scripts/FindReferenceChainRecursive
	url = https://gist.github.com/anatawa12/ae5f7b3c5e07150ddc1eb9f0948019ff.git
[submodule "Scripts/930c08c724af17197a401bcfd580985b"]
	path = Scripts/RemovePropertiesFromAnimations
	url = https://gist.github.com/anatawa12/930c08c724af17197a401bcfd580985b.git
[submodule "Scripts/ecf33339c315f259cee62b304910fe43"]
	path = Scripts/SetDirtyRecursively
	url = https://gist.github.com/anatawa12/ecf33339c315f259cee62b304910fe43.git
[submodule "Scripts/4733d6e695df5dd5a08c599189bba589"]
	path = Scripts/AlignXAxisOnPlaneWithYRotation
	url = https://gist.github.com/anatawa12/4733d6e695df5dd5a08c599189bba589.git
[submodule "Scripts/6af2d5e41b0941aee1ed3fd7e0860ac0"]
	path = Scripts/MultiGizmo
	url = https://gist.github.com/anatawa12/6af2d5e41b0941aee1ed3fd7e0860ac0.git
[submodule "Scripts/667a1b7a892f121a7572bdec325442ea"]
	path = Scripts/CreateIdleAnimation
	url = https://gist.github.com/anatawa12/667a1b7a892f121a7572bdec325442ea.git
[submodule "Scripts/8af588d3fc832910d5675566303002b5"]
	path = Scripts/ObjectFullDebugInspector
	url = https://gist.github.com/anatawa12/8af588d3fc832910d5675566303002b5.git
[submodule "Scripts/b128ca8fc819b9684f3ed15be1f76e8c"]
	path = Scripts/ShowAssetsInPackagesByDefaultInSelector
	url = https://gist.github.com/anatawa12/b128ca8fc819b9684f3ed15be1f76e8c.git
[submodule "Scripts/f52ad0643f7db137a99d207428f44dc6"]
	path = Scripts/ExportTextureAsPNG
	url = https://gist.github.com/anatawa12/f52ad0643f7db137a99d207428f44dc6.git
[submodule "Scripts/9e2bf687b1dbc23c78d513bfa96f07d8"]
	path = Scripts/ManualBakePreprocessAvatarCallbacks
	url = https://gist.github.com/anatawa12/9e2bf687b1dbc23c78d513bfa96f07d8.git
[submodule "Scripts/1b304b398945ec547912239328708b6b"]
	path = Scripts/CombineAssetsToSingleFile
	url = https://gist.github.com/anatawa12/1b304b398945ec547912239328708b6b.git
[submodule "Scripts/2acd16939ef597895d8298ae97ba4122"]
	path = Scripts/CreateEmptyVRChatAvatar
	url = https://gist.github.com/anatawa12/2acd16939ef597895d8298ae97ba4122.git
[submodule "Scripts/9d6d69fdb042d636cc640f85ce0c5fae"]
	path = Scripts/RemoveUnusedAnimatorParameters
	url = https://gist.github.com/anatawa12/9d6d69fdb042d636cc640f85ce0c5fae.git
[submodule "Scripts/10b3ac3b4e7f6603e5ca5a91e50fe2b7"]
	path = Scripts/BakeOverrideController
	url = https://gist.github.com/anatawa12/10b3ac3b4e7f6603e5ca5a91e50fe2b7.git
[submodule "Scripts/70a50d924fe018716761741780893b3a"]
	path = Scripts/SelectionHistory
	url = https://gist.github.com/anatawa12/70a50d924fe018716761741780893b3a.git
[submodule "Scripts/fc3376768f6f3c2f9e7c8e60596ad99f"]
	path = Scripts/ProfileSwitcher
	url = https://gist.github.com/anatawa12/fc3376768f6f3c2f9e7c8e60596ad99f.git
[submodule "Scripts/b577547d96eea6975279dee2a7e59578"]
	path = Scripts/BlendShapeSyncGenerator
	url = https://gist.github.com/anatawa12/b577547d96eea6975279dee2a7e59578.git
[submodule "Scripts/e4b346a295d44476763814a7cad6bfd9"]
	path = Scripts/UpdateAnimationHashSetProcessor
	url = https://gist.github.com/anatawa12/e4b346a295d44476763814a7cad6bfd9.git
[submodule "Scripts/96f14582df903936986b786b9210b4dd"]
	path = Scripts/ObjectRecursiveDiff
	url = https://gist.github.com/anatawa12/96f14582df903936986b786b9210b4dd.git
[submodule "Scripts/3448b46d43b9f89ac22be985bf9c3c21"]
	path = Scripts/ CopyClothSettingsByDistance
	url = https://gist.github.com/anatawa12/3448b46d43b9f89ac22be985bf9c3c21.git
